
[user]
        name = Jonathan Hilgart
        email = jonathan@neeva.co
[alias]
        # I recommend you shorten these aliases; they're verbose here for clarity of exposition
        branchcommit = merge-base --fork-point master
        diffbranch = !bash -c 'git diff $(git branchcommit)'
        diffhead = !bash -c 'git diff HEAD $(git branchcommit)'
        pending = diff --name-only
        pendingbranch = !bash -c 'git diff --name-only $(git branchcommit)'
        pendinghead = !bash -c 'git diff --name-only HEAD $(git branchcommit)'
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        histlong = log --pretty=format:\"%H %ad | %s%d [%an]\" --graph --date=short
        myhist = log --pretty=format:\"%h %ad | %s%d\" --graph --date=short --author=\"Jonathan Hilgart\"
        myhistlong = log --pretty=format:\"%H %ad | %s%d\" --graph --date=short --author=\"Jonathan Hilgart\"
